<section class="section-features">
  <div class="row">
      <div class="col-1-of-3">
          <div class="feature-box">
                  <i class="feature-box__icon fas fa-bong"></i>
                  <h3 class="u-margin-bottom-small heading-tertiary">Dank Glassware</h3>
                  <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, odio sint.</p>
          </div>
      </div>
      <div class="col-1-of-3">
          <div class="feature-box">
              <i class="feature-box__icon fas fa-joint"></i>
              <h3 class="u-margin-bottom-small heading-tertiary">Toke Up</h3>
              <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, odio sint.</p>
          </div>
      </div>
      <div class="col-1-of-3">
          <div class="feature-box">
              <i class="feature-box__icon fas fa-cannabis"></i>
              <h3 class="u-margin-bottom-small heading-tertiary">Stoner Tips</h3>
              <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, odio sint.</p>
          </div>
      </div>
  </div>
</section>