.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    height: 18rem;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        margin-top: 2.5rem;

        &-blunt {
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        &-joint {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        &-backwood {
            background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../images/weed-table.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: 4.5rem;

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.card {

    // FUNCTIONALITY 
    perspective: 150rem; 
    -moz-perspective: 150rem; 
    position: relative; 
    height: 52rem; 

    &__side {
        height: 52rem; 
        transition: all .8s ease; 
        position: absolute;
        top: 0;
        left: 0; 
        width: 25rem;
        backface-visibility: hidden; 
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
       

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(-180deg);
            background-blend-mode: screen;

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
        
    }

    &:hover &__side--back {
        transform: rotateY(0);
        
    }
    

    // FRONT SIDE STYLING 

    &__picture {
        background-size: cover; 
        height: 23rem; 
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/pipes-and-pieces-cover.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/stoner-tips.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/how-to-roll-cover.jpg);
        }

    }

    &__heading {
        font-size: 2.8rem; 
        font-weight: 300; 
        text-transform: uppercase;
        color: $color-white; 
        position: absolute;
        top: 13rem;
        right: 10rem; 
        width: 75%;
        text-align: left; 
    }

    &__heading-span { 
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
            padding: 1rem 3rem; 
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
            padding: 1rem 4.5rem;
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
            padding: 1rem 3.5rem;
        }
    }

    &__details {
        padding: 3rem; 
        ul {
            list-style: none; 
            width: 80%; 
            margin: 0 auto;
            li {
                text-align: center; 
                font-size: 1.5rem; 
                padding: 1rem; 

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2; 
                }
            }
        }
    }


    // FRONT SIDE STYLING 
    &__cta {
        postion: absolute; 
        top: 50%;
        left: 50%;
        text-align: center;
        margin-top: 15rem;
    }

    &__price-box {
        text-align: center; 
        margin-bottom: 8rem; 
        color: $color-white; 
    }

    &__price-only {
        font-size: 1.4rem; 
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 5rem; 
        font-weight: 100; 
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}